@model My_Personal_Website.Models.CVSkillsModel
@using My_Personal_Website.Resources
@{
    ViewBag.Title = Resource.EditSkill;
}

<h2>
    <span class="glyphicon glyphicon-edit"></span>
    @Resource.EditSkill
</h2>
<hr />
@using (Html.BeginForm("EditSkill", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div>

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.SkillName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SkillName, new { @class = "form-control", placeholder = Resource.English })
                @Html.ValidationMessageFor(model => model.SkillName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SkillName_Fr, new { @class = "form-control", placeholder = Resource.French })
                @Html.ValidationMessageFor(model => model.SkillName_Fr)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SkillType, new { @class = "form-control", placeholder = Resource.English })
                @Html.ValidationMessageFor(model => model.SkillType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SkillType_Fr, new { @class = "form-control", placeholder = Resource.French })
                @Html.ValidationMessageFor(model => model.SkillType_Fr)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Desc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Desc, new { @class = "form-control", placeholder = Resource.English })
                @Html.ValidationMessageFor(model => model.Desc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Desc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Desc_Fr, new { @class = "form-control", placeholder = Resource.French })
                @Html.ValidationMessageFor(model => model.Desc_Fr)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Level, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Level, new { @class = "form-control", placeholder = Resource.Digit })
                @Html.ValidationMessageFor(model => model.Level)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-save"></span>
                    @Resource.Save
                </button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resource.BackToList, "Skills")
</div>
