@model IEnumerable<My_Personal_Website.Models.CVEduModel>
@using My_Personal_Website.Resources
@using My_Personal_Website.WebsiteLanguages
@{
    ViewBag.Title = Resource.Education;
}

@using My_Personal_Website.Models

@{
    int eduCnt = 0;

    List<string> panels = new List<string>();
    panels.Add("panel-primary");
    panels.Add("panel-info");
    panels.Add("panel-default");
    panels.Add("panel-warning");
    panels.Add("panel-danger");

}


<div class="ContentStyle">

    <a href="@Url.Action("AddEdu", "Admin")" class="btn btn-success btn-block btn-lg">
        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;@Resource.Add
    </a>
    <br />
    @foreach (CVEduModel e in Model)
    {

        eduCnt++;

        <div class="panel @panels[eduCnt - 1].ToString()">
            <div class="panel-heading" style="font-weight:bold;">
                @eduCnt- 
                @switch (SiteLanguages.GetCurrentLanguageCulture())
                {
                    case "en-US":
                        @:@e.Degree
                                break;
                    case "fr-FR":
                    @:@e.Degree_Fr
                                break;
                    default:
                    @:@e.Degree
                                break;
                }
                &nbsp;
                <a href="@Url.Action("EditEdu", "Admin", new { id = e.Id })" class="btn btn-info ">
                    <span class="glyphicon glyphicon-edit"></span>&nbsp;@Resource.Edit
                </a>
                &nbsp;&nbsp;
                <a href="@Url.Action("DeleteEdu", "Admin", new { id = e.Id })" class="btn btn-danger" onclick="return confirm('@Resource.ConfirmDelete')" >
                    <span class="glyphicon glyphicon-remove-sign"></span>&nbsp;@Resource.Delete
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <dl>
                            <dt>
                                @Resource.Major:
                            </dt>
                            <dd>
                                @switch (SiteLanguages.GetCurrentLanguageCulture())
                                {
                                    case "en-US":
                                        @:@e.Major
                                break;
                                    case "fr-FR":
                                    @:@e.Major_Fr
                                break;
                                    default:
                                    @:@e.Major
                                break;
                                }
                            </dd>

                        </dl>
                    </div>
                    <div class="col-lg-3">
                        <dl>
                            <dt>
                                @Resource.University:
                            </dt>
                            <dd>
                                @switch (SiteLanguages.GetCurrentLanguageCulture())
                                {
                                    case "en-US":
                                        @:@e.University
                                break;
                                    case "fr-FR":
                                    @:@e.University_Fr
                                break;
                                    default:
                                    @:@e.University
                                break;
                                }
                            </dd>
                            <dd>
                                <a href="@e.UniversityWebsite" target="_blank"> @e.UniversityWebsite </a>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-lg-2">
                        <dl>
                            <dt>
                                @Resource.Country:
                            </dt>
                            <dd>
                                @switch (SiteLanguages.GetCurrentLanguageCulture())
                                {
                                    case "en-US":
                                        @:@e.Country
                                break;
                                    case "fr-FR":
                                    @:@e.Country_Fr
                                break;
                                    default:
                                    @:@e.Country
                                break;
                                }
                            </dd>
                            <dt>
                                @Resource.City:
                            </dt>
                            <dd>
                                @switch (SiteLanguages.GetCurrentLanguageCulture())
                                {
                                    case "en-US":
        @:@e.City
                                break;
                                    case "fr-FR":
    @:@e.City_Fr
                                break;
                                    default:
    @:@e.City
                                break;
                                }
                            </dd>
                        </dl>
                    </div>
                    <div class="col-lg-2">
                        <dl>
                            <dt>
                                @Resource.StartDate:
                            </dt>
                            <dd>
                                @e.DateStart
                            </dd>
                            <dt>
                                @Resource.FinishDate:
                            </dt>
                            <dd>
                                @e.DateFinish
                            </dd>
                        </dl>
                    </div>
                    <div class="col-lg-1">
                        <dl>
                            <dt>
                                @Resource.Score:
                            </dt>
                            <dd>
                                @e.Score.ToString() %
                            </dd>
                        </dl>
                    </div>
                    <div class="col-lg-1">

                        <br />
                        <a href="@Url.Content(e.ImgPath)" target="_blank"
                           class="btn btn-sm btn-default">
                            @Resource.ShowDegree
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </div>
                </div>

               
                    <hr />
                    <h4 style="font-weight:bold; text-decoration:underline">
                        @Resource.Projects:
                        
                    </h4>
                    <a href="@Url.Action("AddProject", "Admin", new { EduId = e.Id })" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add
                        </a>
                    @foreach (EduProject p in e.Projects)
                    {
                        <dl>
                            <dt>
                                @Resource.ProjectNAme:
                            </dt>
                            <dd>
                                @switch (SiteLanguages.GetCurrentLanguageCulture())
                                {
                                    case "en-US":
                                        @:@p.ProjectName
                                break;
                                    case "fr-FR":
                                    @:@p.ProjectName_Fr
                                break;
                                    default:
                                    @:@p.ProjectName
                                break;
                                }
                            </dd>
                            <dt>
                                @Resource.Description:
                            </dt>
                            <dd>
                                @switch (SiteLanguages.GetCurrentLanguageCulture())
                                {
                                    case "en-US":
                                        @:@p.ProjectDesc
                                break;
                                    case "fr-FR":
                                    @:@p.ProjectDesc_Fr
                                break;
                                    default:
                                    @:@p.ProjectDesc
                                break;
                                }
                            </dd>
                            <dt>
                                @Resource.Score:
                            </dt>
                            <dd>
                                @p.Score %
                            </dd>
                            <dt>
                                @Resource.ProjectLink:
                            </dt>
                            <dd>
                                <a href="@p.ProjectLink" target="_blank">
                                    @p.ProjectLink
                                </a>
                            </dd>
                        </dl>



    <a href="@Url.Action("EditProject", "Admin", new { id = p.Id })" class="btn btn-info ">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;@Resource.Edit
    </a>

                        <a href="@Url.Action("DeleteProject", "Admin", new { id = p.Id })" class="btn btn-danger" onClick = "return confirm('@Resource.ConfirmDelete ? ');" >
                            <span class="glyphicon glyphicon-remove-sign"></span>&nbsp;@Resource.Delete
                        </a>
                        <br />

                    }
                
            </div>
        </div>


    }
</div>


